* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans Italic"), local("PTSans-Italic"), url(../fonts/PT_Sans-Web-Italic.ttf) format("truetype");
  }
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(../fonts/PT_Sans-Web-BoldItalic.ttf) format("truetype");
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), url(../fonts/PT_Sans-Web-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"), url(../fonts/PT_Sans-Web-Bold.ttf) format("truetype");
  }

#header {
    background-color: #fb9f00;
    position: relative;
}

#header h1 {
    background-image: url(https://summa.upsa.es/img/logo.png?20181122);
    background-position: top left;
    background-repeat: no-repeat;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    line-height: 12px;
    margin: 0 auto;
    padding: 36px 0 0 108px;
    text-align: left;
    width: 799px;
}

#container{
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #bfbbb5	;
}

.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.slider_part {
    flex:1;
    width: 33%;
    display: flex;
    flex-direction: row;
}

#slider_left, #slider_right{
    height: 20%;
}

img {
    width: 100%;
    height: 100%;
}

#container_flechas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 100px;
}

#prev{
    padding-right: 100px;
}

form{
	width:80%;
	padding:16px;
	border-radius:10px;
	margin:auto;
}

#input{
    border: 1px dotted black;
    border-radius: 5px;    
}

form label{
	font-weight:bold;
}

 textarea {
    width: 97%;
    padding: 8px 16px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    resize: none;
    box-shadow: none;
    height: auto;
    background-color: #f5f5f5;

}

.grow-wrap {
  display: grid;
}



.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}


label {
  display: block;
}
  
.container_buttom {
    text-align: center; /* horizontally center the button */
  }
  
  
#submit-btn{
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
}